.bg-custom-color{
    background-color:#1c6e87;
  }

  .max-words-20 {
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 20;
    -webkit-box-orient: vertical;
  }


  @media only screen and (max-width: 380px){
    .screen-size{
     right: 60px;
    }
    .input-width{
      width:255px ;
     }
 }

  @media only screen and (max-width: 450px ) and (min-width: 380px){
     .screen-size{
      right: 90px;
     }
     .input-width{
      width:270px ;
     }
  }

 